body{
    background-color: beige;
}

.card{
    background-color: brown;
    color: beige;
    width: 240px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 18px;
    font-size: xx-large;
    border-radius: 24px;
    border: 2px darkred solid;
    box-shadow: 12px 10px 0 gray;
}

.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-size: 200%;
    width: fit-content;
}

.inMiddle{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: fit-content;
}

.left{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.right {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#playing-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.reverse{
    rotate: 180deg;
}